@use 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: variables.$Rubik;
    font-size: 18px;
    font-weight: 500;
    background-color: variables.$veryDarkBlue;
    color: variables.$paleBlue;
    
}