@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


// Colores 
$Blue: hsl(246, 80%, 60%);
$LightRed: hsl(15, 100%, 70%);
$SoftBlue: hsl(195, 74%, 62%);
$LightRed: hsl(348, 100%, 68%);
$LimeGreen: hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$SoftOrange: hsl(43, 84%, 65%);


//Neutral
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

// Fuente
$Rubik: 'Rubik', sans-serif;